h1 {
  font-size: 60px;
  line-height: 72px;
}

h2 {
  font-size: 52px;
  line-height: 64px;
}

h3 {
  font-size: 44px;
  line-height: 64px;
}

h4 {
  font-size: 36px;
  line-height: 40px;
}

h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.17px !important;
}

h1, h1, h3, h4 {
  font-weight: 400;
  letter-spacing: -0.22px !important;
}

.text-body-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.11px !important;
}

.text-body-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.06px !important;
}

.text-body-3 {
  font-weight: 400;
  font-size: 12px !important;
  line-height: 22px !important;
}

.text-caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.01px !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 700 !important;
}
